.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    padding: 1rem;
}

.section-container {
    width: 24rem;
    border-radius: 1.2rem;
    background-color: white;
    border: 4px solid var(--main-color-light);
    gap: 0.2rem;
    padding: 1rem 1rem;
}

.heading {
    color: var(--main-color);
    font-family: var(--main-font);
    font-weight: bold;
    text-align: center;
    font-size: 1.4rem;
    padding: 0.25rem;
}

.divider {
    width: 100%;
    border-width: 2px;
    border-color: var(--main-color-light);
}

.error-text {
    color: var(--main-color);
    font-size: 1rem;
    padding-left: 1rem;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.25rem;
}


.disabled-button {
    background-color: var(--main-color-light);
    opacity: 0.5;
}

.button-cancel {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    gap: 1rem;
    background-color: white;
    border: 1px solid var(--main-color-light);
}