.selectedImage {
    width: 10vw;
}

.contact--animals {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    margin: 2% 0 3%;
}



.imageChecked {
    background-color: var(--main-color);
}


.contact--animal--info {
    color: var(--gray-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-color-light);
}


.contact--form--details {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    input:hover {
        background-color: var(--main-color-light);
    }
}

.contact--form--info {
    height: 50vh;
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding: 0 !important;
    input {
        width: 100%;
        margin-bottom: 1rem;
    }

    .contact--form--div:last-child {
        width: 100%;
    }

    .container--input--divs {
        width: 100%;

    }

}

.contact--input--form {
    height: 50vh;
    display: flex;
    flex-direction: column;

    .contact--form--div,
    .label-contact {
        margin-bottom: 0.5rem;
        width: 30vw;
    }
}



.contact--message {
    width: 100% !important;
    height: 5rem;
}

.contact-button {
    width: 15% !important;
}