.button-adopta {
    width: 200px;
    height: 2.5em;
    border-radius: 40px;
    border-style: none;
    color: #FFF;
    background-color: var(--main-color);
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}