.formContainerContacto {
    height: 80vh;
    margin-top: -5rem;
}

.ocultarNotificacion {
    display: none;
    width: 100%;
    text-align: center;
}

.mostrarNotificacion {
    display: block;
}


.contact-form{
  display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form input {
    width: 60%;   
}

.email-message input {
    height: 4rem;
    width:60%;
    margin-bottom: 1rem;
}

