.formContainerContacto {
    height: 80vh;
}

.ocultarNotificacion {
    display: none;
    width: 100%;
    text-align: center;
}

.mostrarNotificacion {
    display: block;
}


.coontact form{
     display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form input {
    width: 60%;
}

.email-message input {
    height: 4rem;
}

.contact-form {
    margin-top: -5rem;
}