@import "src/variables-css/variables.css";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.filter {
    width: 94%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 2px solid;
    border-radius: 20px;
    color: var(--text-color);
    grid-column-start: 1;
    grid-column-end: 4;
    /*     position: relative; */

}

.filterField {
    width: 25%;
    color: var(--text-color);
    background-color: transparent;
    font-family: Manrope;
    font-size: calc(10px + (30 - 4) * ((100vw - 368px) / (1920 - 368)));
    font-weight: bold;
    margin: 0;
    padding: 1em 0% 1em 0%;
    padding-inline: 0.5em;
    cursor: pointer;
    transition: color 0.5s;
    position: relative;
    border: none;
}

.filterField:focus,
.filterField:active {
    color: var(--main-color);
}

.filterField ul {
    color: var(--text-color);
}

.filterField:nth-of-type(1) {
    border-right: 2px solid var(--text-color);
}

.filterField:nth-of-type(2) {
    border-right: 2px solid var(--text-color);
}

.filterField:nth-of-type(3) {
    border-right: 2px solid var(--text-color);
}


.filterField:hover {
    background: var(--main-color-light);
}

.filterFieldRadiusLeft:hover {
    border-start-start-radius: 18px;
    border-end-start-radius: 18px;
}

.filterFieldRadiusRight:hover {
    border-start-end-radius: 18px;
    border-end-end-radius: 18px;
}

.filter-ul {
    width: 75%;
    list-style: none;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 100%;
    border: 2px solid;
    margin: 0;
    margin-inline: 16px;
    background-color: white;
}

.selected-option {
    margin-left: 5px;
    font-weight: bold;
    color: rgb(92, 88, 88);
    font-size: 20px;
}


li:hover {
    background-color: var(--main-color-light);
}

/* @media tablet */
@media only screen and (max-width: 768px) {
    .filter {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

/* @media móvil */
@media only screen and (max-width: 360px) {
    .filter {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}