* {
  font-family: Manrope;
  box-sizing: border-box;
}

/* 
.style-adoptar {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;

  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-items: center;
  column-gap: 2em;
  row-gap: 4em;
  align-items: center;
  justify-content: center;

  font-family: Manrope;
  padding-inline: 4em;
} */


.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 0 12rem;
}

.card {
  border-radius: 5px;
  border: 2px solid #8e8585;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}


.card:hover {
  border-color: var(--main-color-light);
  transition: all 0.3s ease-in-out;
}

.tarjeta:hover .container--text--animalInfo,
.tarjeta:hover .card--components--description strong {
  color: var(--main-color-light);
}

.card--components {
  color: var(--text-color);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 2em;
}

.card--components--name {
  text-align: left;
  color: var(--text-color);
  align-self: self-start;
}

.card:hover .card--components--name {
  color: var(--color-principal);
}

.card--imagen {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card--components--button {
  display: flex;
  justify-content: center;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.card--components--icons {
  width: 4rem;
  cursor: pointer;
  padding-right: 2em;
}



/* @media tablet */
@media only screen and (max-width: 768px) {
  .style-adoptar {
    grid-template-columns: repeat(2, 48%);
    column-gap: 0.5em;
    row-gap: 1.5em;
  }

  .card:hover {
    background-color: inherit;
  }

  .card--components--icons {
    width: 40px;
  }
}

/* @media móvil */
@media only screen and (max-width: 360px) {
  .style-adoptar {
    grid-template-columns: 99%;
    row-gap: 1.5em;
  }

  .card:hover {
    background-color: inherit;
  }
}