.form--tipo-container {
    margin-bottom: 20px;
    margin: 1.5rem;
    margin-bottom: 0;
}

.container--form--edit {
    height: 100vh;
    max-height: 100vh;
    margin: 0 0 -8rem;
}

.form-edit {
    margin: -3rem 0;
}

.form--tipo {
    display: inline-flex;
    justify-content: center;
}

.form--tipo input[value=Perro]:after,
.form--tipo input[value=Gato]:after {
    top: -1px;
}

.form--tipo input[value=Perro]:checked:after,
.form--tipo input[value=Gato]:checked:after {
    top: -1px;
}

.form--column-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form--column {
    width: 48%;
}

.form--cuidados {
    margin-bottom: 20px;
    width: 30%;
}

.input--text,
.input--select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container--input--divs--edit {
    padding: 1em;
}

.button--confirm--edit{
    width: 210px;
}