
 .shelter {
     width: 50px;
     height: 50px;
     stroke: var(--main-color);
     cursor: pointer;
 }

 .shelter:hover {
     transform: scale(1.1);
 }

 .counter {
     position: relative;
     top: -20px;
     right: -20px;
     background-color: var(--main-color-light);
     color: var(--gray-color);
     width: 25px;
     height: 25px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
 }

 .counter-animals {
     font-size: 14px;
     font-weight: bold;
     color: var(--text-color);
 }

 .container-logo-shelter {
     position: relative;
     display: inline-block;
     cursor: pointer;
     margin: 10px;
 }