footer a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.footer {
    background-color: var(--color-gris);
    position: absolute;
    font-size: 16px;
    color: white;
    width: 100%;
    height: 10rem;
    padding: 1% 3%;
    display: grid;
    grid-template-columns: 30% 70%;
    margin-bottom: 0;
    bottom: 0;
    align-items: center;
}

.footer-primer-bloque {
    width: 20%;
}

.footer-logo {
    width: 100px;
    margin-left: 100%;
}

.footer-naming-solo-mobile {
    display: none;
}

.footer-segundo-bloque {
    width: 80%;
    display: grid;
    align-self: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
}

.footer-redes-sociales img {
    margin: 4%;
    width: 15%;
    display: inline;
}

.footer-redes-sociales p {
    margin: 0;
}

.efecto-claro:hover {
    color: var(--color-principal-claro)
}



@media only screen and (max-width: 360px) {

    .footer-primer-bloque {
        width: 100%;
    }

    .footer-segundo-bloque {
        width: 100%;
    }

    .footer-nav-descubrir {
        display: none;
    }

    .footer-nav-info {
        display: none;
    }

    footer {
        justify-content: center;
        text-align: center;
    }

    .footer-naming-solo-mobile {
        display: block;
    }

    .footer-logo {
        display: none;
    }

    .footer-redes-sociales {
        margin: auto;
    }
}