:root {
    --main-color: rgba(255, 144, 136, 1);
    --main-color-light: rgba(255, 206, 202, 1);
    --text-color: rgba(142, 133, 133, 1);
    --grey-color: rgba(40, 40, 40, 1);
    --fuente-principal: 'Manrope', sans-serif;
}