:root {
    --main-color: rgb(131, 62, 172);
    --main-color-light: rgb(209, 157, 252);
    --text-color: rgba(142, 133, 133, 1);
    --gray-color: rgba(40, 40, 40, 1);
    --main-font: 'Manrope', sans-serif;
}