:root {
    --color-principal: rgb(131, 62, 172);
    --color-principal-claro: rgb(209, 157, 252);
    --color-texto: rgba(142, 133, 133, 1);
    --color-gris: rgba(40, 40, 40, 1);
    --fuente-principal: 'Manrope', sans-serif;
}