* {
    box-sizing: border-box;
}

.signContainer {
    background-color: #fff;
    border-radius: 0.6rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 48rem;
    max-width: 100%;
    min-height: 34.5rem;
    margin: 1rem auto;
}

.signContainer .formContainer {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    margin: 1rem 1rem;
}

.signContainer .formContainer form {
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 3.1rem;
    height: 100%;
    text-align: center;
}

.signContainer .formContainer form .logInTitle,
.signContainer .formContainer form .registerTitle {
    text-align: center;
    margin: 0;
}

.signContainer .formContainer form .inputLogin {
    border: none;
    border-bottom: 0.1rem solid var(--main-color-light);
    padding: 0.75rem 0.93rem;
    margin-top: 0.5rem;
    width: 100%;
}

.signContainer .formContainer form .passwordContainer {
    position: relative;
    width: 100%;
}

.signContainer .formContainer form .passwordContainer .inputLogin {
    border: none;
    border-bottom: 0.1rem solid var(--main-color-light);
    padding: 0.75rem 0.93rem;
    margin-top: 0.5rem;
    width: 100%;
}

.eyeIcon{
    width: 1.25rem;
    position: absolute;
    top: 1.5rem;
    right: 0.1rem;
    cursor: pointer;
    transform: translateY(-40%);
}


.signContainer .formContainer form .errorText {
    font-size: 0.8rem;
    color: red;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    align-self: flex-start;
}

.signContainer .formContainer form .loginButton {
    border-radius: 1.25rem;
    border: 1px solid var(--main-color-light);
    background-color: var(--main-color);
    color: #fff;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.75rem 2.8rem;
    letter-spacing: 0.06rem;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    width: 17rem;
    margin-top: 0.62rem;
}

@media (max-width: 720px) {
    .signContainer .formContainer form .loginButton {
        width: 14rem;
    }
}

.signContainer .formContainer form .loginButton:active {
    transform: scale(0.95);
}

.signContainer .formContainer form .loginButton:focus {
    outline: none;
}

.signContainer .formContainer form .loginButton .ghost {
    background-color: transparent;
    background-color: var(--main-color-light);
}

.signContainer .formContainer form p {
    font-weight: bold;
    line-height: 1.25rem;
    letter-spacing: 0.03rem;
    margin: 1.25rem 0 1.8rem;
    padding-left: 1.5rem;
}

@media (max-width: 720px) {
    .signContainer .formContainer form p {
        font-size: 0.8rem;
    }
}

.signContainer .formContainer form p span {
    font-size: 0.9rem;
    cursor: pointer;
    color: var(--main-color-light);
}

.signContainer .formContainer .inputError .inputLogin {
    height: 1.5rem;
}

.loginContainer {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 205, 235);
}

.signContainer .loginContainer .login {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.signContainer .loginContainer .login .loginPanel {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 6.25rem;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.signContainer .loginContainer .login .loginPanel .loginLogo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-block-end: 6.8rem;
    gap: 1.25rem;
}
.loginLogo:hover{
    transition: none;
    transform: none;
}

.signContainer .loginContainer .login .loginPanel .loginLogo .logo:hover {
    transition: none;
    width: 100%;
}

.signContainer .loginContainer .login .loginPanel h3 {
    text-align: center;
    margin: 0;
}

.signContainer .loginContainer .login .loginLeft {
    transform: translateX(-20%);
}

.signContainer .loginContainer .login .loginRight {
    right: 0;
    transform: translateX(0);
}

.signContainer .signUpContainer {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.signContainer .signInContainer {
    left: 0;
    width: 50%;
    z-index: 2;
}

.signPanelActive .loginContainer {
    transform: translateX(-100%);
}

.signPanelActive .loginContainer .login {
    transform: translateX(50%);
}

.signPanelActive .loginContainer .login .loginLeft {
    transform: translateX(0);
}

.signPanelActive .signInContainer {
    transform: translateX(100%);
    opacity: 0;
}

.signPanelActive .signUpContainer {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@media (max-width: 480px) {
    .loginContainer {
        display: none;
    }

    .signContainer .formContainer form {
        padding: 0;
    }

    .signContainer .formContainer form .passwordContainer {
        position: relative;
        width: 100%;
    }

    .signContainer .formContainer form .passwordContainer .eyeSignIn {
        width: 0.1rem;
        position: absolute;
        cursor: pointer;
        transform: translateY(-50%);
    }

    .signContainer .formContainer form .passwordContainer .eyeLogin {
        width: 0.1rem;
        position: absolute;
        cursor: pointer;
        transform: translateY(-50%);
    }

    .signPanelActive .signUpContainer {
        transform: translateX(50%);
        margin-top: -3rem;
    }

    .signContainer .signInContainer {
        left: 0;
        width: 100%;
        z-index: 2;
        padding: 0 0;
        margin-top: -3.5rem;
    }

    .signContainer {
        box-shadow: none;
    }

    .registerTitle .logInTitle {
        font-size: 0.5rem;
    }

    .inputLogin {
        max-width: 15rem;
    }
}