@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.aboutUs-container {
    display: flex;
    flex-direction: column;
    margin: 2% 5% 2% 5%;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    margin:  0 20% 0;
}

.aboutUs-article {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10%;
    align-items: center;
    text-align: justify;
    line-height: 2rem;

    img {
        object-fit: contain;
        height: 60vh;
            border: 5px solid var(--main-color);
    }
}