@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.aboutUs-container {
    display: flex;
    flex-direction: column;
    margin: 2% 5% 2% 5%;
    color: var(--text-color);
    ;
}