* {
    font-family: var(--main-font);
}

.container-principal {
    position: relative;
    min-height: 100vh;

}

.container-principal-navbar-main {
    padding-bottom: 15rem;
}

body {
    margin: 0;
}